* {
  box-sizing: border-box;
  background-color: white;
  font-family:'Gill Sans', sans-serif;
  }

   
 label {
    color: #727272 ;
   }
 
  form, div {
   background-color: white;
  }

  hr {
    border: 0;
    width: 95%;
    color: #D9D9D9;
    background-color: #D9D9D9;
    margin-top: 10px;
    height: 2px;
}

  /* Two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
  }


  .wrapper{
  width: 100%;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin: auto;
  border-radius:0.12em;
  box-sizing: border-box;
  }
  .searchInput {
  background-repeat: no-repeat;
  width: 95%;
  font-size: 16px;
  padding: 12px 20px 12px 12px;
  border: 1px solid black;
  margin-bottom: 12px;
  cursor: pointer;
  }
  .searchInput:hover{
  color: black;
  background-color: #b9b9b8;
  }
  
  
  .searchButton{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #b9b9b8;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  font-size: 16px;
  color: #b9b9b8;
  text-align:center;
  transition: all 0.2s;
  padding: 12px;
  margin-left: 12px;
  border-color: black;
  color: black;
  }
  
  
  .searchButton:hover{
  color: black;
  background-color: #b9b9b8;
  }

  table, thead, tbody{
    border: 0.2px solid;
    border-color: whitesmoke;
  }

  table {
    width: 100%;
    }

    th, td {
      text-align: center;
      width: 10%;
      }

      @media (max-width: 768px) {
        table {
          width: 350px;
        }
       th, td {
          max-width: 75px;
          font-size: 0.7rem;
        }
        .itemButton {
          font-size: 0.7rem;
        }
        
      }


  .bookinItems {
  list-style-type: none;
  padding: 2px;
  margin: 0;
  width: 95%;
  }
  
  
  .item{
  padding: 8px;
  margin: 0;
  font-size: 14px;
  display: flex;
  justify-content: left;
  }
  .listItem :hover:not(.header) {
  background-color: #b9b9b8;
  color: black;
  }
  .Item :hover:not(.header) {
  background-color: #b9b9b8;
  color: black;
  }
  button.itemButton{
  margin-left:15px;
  }
  .itemButtonGroup{
  display:flex;
  justify-content: flex-end;
  }
  .modal-overlay {
  z-index: 9999;
  width: 100%;
  height: 2500px;
  position: absolute;
  top: 140px;
  background:rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .modal-box {
  display: block;
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -62%);
  background: rgba(48, 47, 47, 0.426);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  width: 100%;
  height: 75%;
  padding: 1rem;
  border-radius: 1rem;
  }
  .modal-close-button {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
  border: none;
  }

  button.modal-close-button {
    background-color: transparent;
    }
  
 span {
  background-color: white;
    }

    .bookAdminButton{
      display:inline-block;
      padding:0.35em;
      border:0.1em solid black;
      margin:35px;
      border-radius:0.12em;
      box-sizing: border-box;
      text-decoration:none;
      font-size: 16px;
      color: white;
      text-align:center;
      transition: all 0.2s;
      padding: 12px;
      margin-left: 12px;
      width: 145px;
      background-color: #727272 ;
      border-color: black;
      }
      .bookAdminButton:hover{
      color: black;
      background-color: #b9b9b8;
      }